#root {
    height: 100dvh;
    width: 100dvw;
}

.header{
  min-height: 5%;
  background-color: aqua;
  padding-left: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;

}

.body{
  min-height: 95%;
}

.table_border{
  border-style: double;
}

.horizontal_layout{
  min-height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center
}

.table_row {
  text-align: center;
}

.availability_page_layout{
  display: flex;
  flex-direction: row;
  min-height: 100%;
  width: 100%;
}

.left_panel{
  min-height:100%;
  width: 75%;
}

.right_panel{
  min-height:100%;
  width: 25%;
  display: flex;
  flex-direction: column;
}

.right_panel_top_section{
  min-height:75%;
  width: 100%;
  outline:1px #000 solid;
}

.right_panel_bottom_section{
  min-height:25%;
  width: 100%;
  outline:1px #000 solid;
}

.checkboxes{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
}



/*hacky solution to:
- reduce the spacing for "closed" time intervals across days
- make it so multiple breaks can occupy the same timeslot 
  without the automatic offset
*/

.RBC_events_override{
  
  /*width: 104% !important;
  left: 0% !important;*/
  
 /*border: none !important; */
}


.RBC_close_interval_override{
  background-color: aliceblue !important;
  /*opacity: 1 !important;*/
  width: 104% !important;
}

.RBC_break_interval_override{
  background-color: red !important;
}

.RBC_shift_interval_override{
  background-color: rgb(0, 255, 128) !important;
  color: black !important;
}

.RBC_selected_interval_override{
  outline: blue solid 3px;
}

.fullscreen_overlay{
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
 /* padding-top: 15%;  Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal_container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  min-width: 100%;
}

.close_wrapper{
  position: relative;
}

.cancel_panel_btn{
  z-index: 999;
  position: absolute;
  top: 0;
  right: 0;
}

.modal_form_body{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 250px;
  background-color: white;
}





